/* RESPONSIVE */
/* ========== 992 ========== */
@media (max-width: 992px) {
  .navbar-collapse {
    margin: 20px 0;
  }
  .navbar-wrapper .navbar .navbar-collapse .search-wrapper {
    max-width: 992px;
  }
  .navbar-leave-request-btn-wrapper {
    margin-top: 10px;
  }
}

/* ========== 768 ========== */
@media (max-width: 768px) {
}

/* ========== 660 ========== */
@media (max-width: 660px) {
  .footer-bottom-wrapper
    .footer-bottom-wrapper-box
    .footer-bottom-items
    .footer-bottom-right-wrapper {
    display: block;
  }
  .footer-bottom-wrapper
    .footer-bottom-wrapper-box
    .footer-bottom-items
    .footer-bottom-right-wrapper
    .online-chat-wrapper {
    margin-top: 10px;
  }
}

/* ========== 576 ========== */
@media (max-width: 576px) {
  .request-modal .request-modal-body .requset-modal-right {
    display: none;
  }
  .request-modal .request-modal-body .requset-modal-left {
    width: 100%;
  }
  .order-call-modal .order-call-modal-body .order-call-modal-right {
    display: none;
  }
  .order-call-modal .order-call-modal-body .order-call-modal-left {
    width: 100%;
  }
}

/* ========== 395 ========== */
@media (max-width: 395px) {
  .navbar-wrapper
    .navbar-top-wrapper-container
    .navbar-top-social-links-wrapper
    .social-box {
    display: none;
  }
  .footer-top-wrapper .footer-top-wrapper-box form {
    align-items: end !important;
    flex-direction: column;
  }
  .footer-bottom-wrapper
    .footer-bottom-wrapper-box
    .footer-bottom-items
    .footer-bootom-left-wrapper {
    gap: 20px;
  }
}
